.user-details {
    margin-bottom: 44px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}

.user-profile-tag {
    text-align: center;
}

.user-form {
  background: #fff;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 2px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 35px;
  text-align: center;
}

.user-avatar-circle {
    width: 80px;
    height: 80px;
    border-radius: 60px;
    line-height: 60px;
    margin-top: 10px
}

.user-avatar-circle > * {
    line-height: 80px;
    font-size: 40px;
    position: relative !important;
    left: 0 !important;
}

.user-summary {
    text-align: center;
    padding-top: 20px;
}

@media (min-width: 576px) {
    .user-details {
        text-align: left;
        display: table;
    }

    .user-avatar, .user-summary {
        float: left;
        text-align: left;
    }

    .user-summary {
        padding-top: 0;
        padding-left: 40px;
        width: calc(100% - 80px);
    }
}

.user-summary .full-name {
    font-size: 30px;
    font-weight: 600;
    color: rgba(0,0,0,0.85);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-summary .username {
    font-size: 20px;
}

.user-summary .user-joined {
    margin-top: 5px;
}

@media (max-width: 768px) {
    .user-summary .full-name {
        font-size: 24px;
    }
}
