.new-topic-container {
    max-width: 520px;
    margin: 0 auto;
    margin-top: 40px;
}

.create-topic-form-button {
    width: 100%;
}

.create-topic-form-button[disabled], .create-topic-form-button[disabled]:hover, .create-topic-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}


.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all .3s;
}

.optional-channel {
    width: calc(100% - 35px);
    margin-right: 8px;
}

.dynamic-delete-button:hover {
    color: #777;
}

.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.topic-form-row {
    margin-bottom: 15px;
    margin-top: 10px;
}

.topic-form-row-checkbox {
    margin-bottom: -5px;
}

.topic-form-row input, .topic-form-row textarea {
    margin-bottom: 4px;
}

.topic-form-row-checkbox input[type=checkbox]{
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    top : 1px;
    margin-right: 4px;
}

.loginArray {
    text-align: center;
}