.topics-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

.topic-content {
    margin-bottom: 30px;
    padding: 20px 15px 20px 15px;
    letter-spacing: .01em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background-image: url('../img/Coronavirus-COVID19_2.jpg');
}

.topic-name {
    font-weight: 500;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .topic-name {
        font-size: 18px;
    }
}

.topic-channels {
    margin-top: 5px;
    margin-bottom: 15px;
}

.topic-channel-radio-group {
    display: block;
    font-weight: 600;
}

.topic-channel-radio {
    display: block;
    line-height: 1.7;
    font-size: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.75);
}

.subscribe-button {
    border-radius: 15px;
    margin-right: 15px;
    color: rgba(0, 0, 0, 0.65);
    border-color: #40a9ff;
}

.subscribe-button:hover {
    color: #1890ff;
    border-color: #1890ff;
}

.subscribe-button[disabled], .subscribe-button[disabled]:hover, .subscribe-button[disabled]:focus {
    color: #40a9ff;
    border-color: #40a9ff;
    background-color: #fff;
    opacity: 0.4;
}

.separator {
    margin-left: 10px;
    margin-right: 10px;
    color: #8899A6;
}

.cv-topic-channel {
    position: relative;
    margin-bottom: 8px;
}

.cv-topic-channel-details {
    position: relative;
    z-index: 1;
    display: block;
    line-height: 1.7;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cv-channel-percentage {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.75);
}

.cv-channel-text {
    margin-left: 10px;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.selected-channel-icon {
    margin-left: 10px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.75);
}

.cv-channel-percent-chart {
    position: absolute;
    background: #E1E8ED;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: .35em;
    transition: all .3s cubic-bezier(0.5,1.2,.5,1.2);
    opacity: 1;
}

.cv-channel-percent-chart.winner {
    background-color: #77C7F7;
}

.topic-creator-info {
    margin-left: 58px;
    margin-bottom: 10px;
    height: 58px;
}

.topic-creator-info .creator-link {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.topic-creator-info .creator-link:hover .topic-creator-name {
    color: #1890ff;
    text-decoration: underline;
}

.topic-creator-avatar {
    float: left;
    margin-top: 3px;
    margin-left: -58px;
    position: absolute;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 24px;
}

.topic-creator-avatar > * {
    line-height: 48px;
    font-size: 18px;
}

.topic-creator-name {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 4px;
    display: inline-block;
    margin-right: 8px;
}

.topic-creator-username {
    color: #657786;
    font-size: 15px;
    display: inline-block;
}

.topic-creation-date {
    display: block;
    color: #657786;
    font-size: 13px;
    margin-top: 2px;
}
